.menu{
    width: 20%;
    height: 100%;
    background-color: rgba(253, 160, 19, 0.692);
    display: inline-block;
}
.dashboard{
    width: 80%;
    background-color: brown;
    float: right;
    display: inline-block;
    
}